@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer 

@model MyChat.ViewModels.ChangePasswordViewModel

@{
    ViewBag.Title = "Профиль пользователя";
    Layout = "_Layout";
}

<h2>@Localizer["Headers"]</h2>

<div class="row">
    <div class="col-md-5">
        <form asp-action="ChangePassword" method="post">
            <div class="form-group">
                <label asp-for="NewPassword">@Localizer["NewPassword"]</label>
                <input type="password" class="form-control password" asp-for="NewPassword">
                <label >
                    <input class="show-password" type="checkbox"> @Localizer["Show"]
                </label>
                <span asp-validation-for="NewPassword"></span>
            </div>
            <input type="hidden" asp-for="Id"/>
            <input type="hidden" asp-for="Email">
            <input type="submit" value="@Localizer["Save"]" class="btn btn-outline-dark">
        </form>
    </div>
</div>
@section Scripts
{
    <script>
            let showPassword = document.querySelectorAll(
                '.show-password'
            );
            showPassword.forEach(item =>
            item.addEventListener('click', toggleType)
            );
            function toggleType() {
                let input = this.closest('.form-group').querySelector('.password');
                if (input.type === 'password'){
                    input.type = 'text';
                }else{
                    input.type = 'password';
                }
            }   
    </script>
}